form {
    text-align: left;
    border: 2px solid black;
    padding: 10px;
}
.input {
    margin-bottom: 10px;
}
input {
    padding: 1.5%;
}
.add {
    background-color: rgb(10, 164, 224);
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 20px;
}